body {
            min-height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0;
            padding: 0;
        }

        .circle {
            width: 30rem;
            height: 30rem;     
            border-radius: 50%;
            margin: 40px auto;
            background-size: cover;
            border: 15px solid rgb(255, 255, 255);
            position: relative;
            padding: 2rem;
        }

        .clock-face{
            position: relative;
            width: 100%;
            height: 100%;
            transform: translateY(-3px);
        }

        .arrow {
            position: absolute;
            width: 50%;
            height: 7.5rem; 
            background: none;
            background-image: url("image/1.png"); 
            background-size: contain;
            background-repeat: no-repeat;
            top: 39%;
            left:2%;
            transform-origin: 95%;
            transform: rotate(90deg);
            transition: all 0.05s;
            transition-timing-function: cubic-bezier(0, 1.99, 0.58, 1);
            filter: invert(1);  
        }


        #bg-video {
            position: fixed; 
            top: 50%;
            left: 50%;
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            transform: translate(-50%, -50%);
            z-index: -1; 
            object-fit: cover; 
        }

        .center {
            height: 2rem;
            width: 2rem;
            border-radius: 50%;
            background-color: #ffffff;
            position: absolute;
            top: 48%;
            left: 46%;
            z-index: 50;
        }    